@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.1;
  text-align: center;
  background-color: hsl(0, 0%, 98%);
  color: hsl(240, 10%, 57%);
}

button {
  background-color: hsl(0, 0%, 98%);
  color: hsl(240, 21%, 20%);
  cursor: pointer;
  font-family: "Red Hat Display", sans-serif;
  font-size: 20px;
  width: fit-content;
  padding: 1em 2.5em;
  border: none;
  border-radius: 29px;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.text-preset-1 {
  color: hsl(240, 21%, 20%);
  font-size: 2.5rem;
  font-weight: 900;
}

.text-preset-2 {
  color: hsl(240, 21%, 20%);
  font-size: 2rem;
  font-weight: 900;
}

.text-preset-3 {
  color: hsl(192, 37%, 48%);
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.text-preset-4 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.text-preset-5 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5;
}

.bg-cyan-600 {
  background-color: hsl(192, 37%, 48%);
  color: hsl(0, 0%, 98%);
}
.bg-cyan-600:hover {
  background-color: #71c0d4;
}

.bg-purple-600 {
  background-color: hsl(268, 34%, 53%);
  color: hsl(0, 0%, 98%);
}
.bg-purple-600:hover {
  background-color: #b18bdd;
}

.text-cyan-300 {
  color: hsl(192, 90%, 77%);
}

.text-purple-300 {
  color: hsl(268, 100%, 86%);
}

.text-white {
  color: hsl(0, 0%, 98%);
}

.nav {
  padding-top: 3em;
}
.nav img {
  display: block;
  margin: auto;
}

.hero-container {
  gap: 3em;
  padding-top: 4em;
}
.hero-container .hero-group {
  height: 160px;
  justify-content: center;
  gap: 17px;
  overflow-x: hidden;
}
.hero-container .hero-group img {
  flex: 1;
  height: 100%;
  object-fit: cover;
}
.hero-container .text-content {
  gap: 1.5em;
  padding: 0 2em 2em;
  max-width: 450px;
  margin: auto;
}
.hero-container .text-content .btn-group {
  align-items: center;
  gap: 1em;
}

.main-content {
  gap: 4em;
  padding: 2em 2em 4em;
}
.main-content .img-collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.main-content .img-collage img {
  width: 100%;
  border-radius: 0.5em;
}
.main-content .text-content {
  gap: 2em;
  max-width: 500px;
  margin: auto;
}
.main-content .text-content .title {
  gap: 1em;
  max-width: 450px;
  margin: auto;
}

.number-img {
  align-items: center;
}
.number-img .vertical-line {
  width: 1px;
  height: 80px;
  background-color: hsl(240, 18%, 85%);
}
.number-img .number-circle {
  width: 56px;
  height: 56px;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(240, 18%, 85%);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.footer .number-img {
  z-index: 10;
  position: relative;
  top: 28px;
}
.footer .hero {
  background: url("./assets/mobile/image-footer.jpg");
  background-position: center;
  background-size: cover;
  padding: 4em 2em;
  position: relative;
}
.footer .hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(77, 150, 168, 0.9);
}
.footer .hero .content {
  max-width: 500px;
  margin: auto;
  align-items: center;
  gap: 1.5em;
  z-index: 10;
  color: hsl(0, 0%, 98%);
}

.attribution {
  font-size: 0.8em;
  line-height: 1.5;
}
.attribution a {
  color: hsl(192, 90%, 77%);
  font-weight: 900;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .text-preset-1 {
    font-size: 3rem;
  }
  .text-preset-2 {
    font-size: 2.25rem;
  }
  .text-preset-3 {
    font-size: 0.875rem;
  }
  .hero-container {
    gap: 4.5em;
  }
  .hero-container .hero-group {
    height: 303px;
    gap: 32px;
  }
  .hero-container .text-content {
    padding-bottom: 4em;
  }
  .hero-container .text-content .btn-group {
    flex-direction: row;
  }
  .main-content {
    padding-top: 3.5em;
  }
  .main-content .img-collage {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
  }
}

/*# sourceMappingURL=style.css.map */
